body {
  background: url("/images/FZVhxj4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
  background: black;
  color: white;
  display: inline;
}

.FooterRight {
  text-align: right;
  display:inline;
}

.FooterLeft {
  text-align: left;
}

.content {
  background: rgba(217, 162, 217, 0.5);
  width: 700px;
  height: 250px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 20px 20px 20px;
  color: white;
  font-size: 2em;
}